/* IconNav.css */
.icon-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 160px; /* Add space to separate from the header */
  background-color: #2a2a2a;
  height: 100%;
}

.icon-item {
  width: 50px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #444;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-item:hover {
  background-color: #555;
}
